<div class="content-wrapper">
  <section class="content-header align-left padding-15">
    <h1> <%= t('titles.product_sales') %> </h1>
  </section>

  <div class="action-buttons">
    <%= link_to t('controls.button.create'), new_operators_product_sale_path, class: 'btn btn-warning' %>
  </div>
</div>