<% technical_spec_items.each do |spec_item| %>
  <tr>
    <td class="va-mid"><%= spec_item.specification %></td>
    <td class="va-mid">
      <%= text_field_tag 'product_specification[specification]', @search_name, {class: 'form-control field', placeholder: t('activerecord.attributes.product_specification.specification')} %>
    </td>
  </tr>
<% end %>