<% technical_spec_items.each do |spec_item| %>
  <tr>
    <td class="va-mid"><%= spec_item.specification %></td>
    <td class="va-mid">
      <%= hidden_field_tag "product[specification_id][]", spec_item.id %>
      <%= text_field_tag 'product[specification_val][]', '', {class: 'form-control field', placeholder: t('activerecord.attributes.product_specification.specification')} %>
    </td>
  </tr>
<% end %>