<div class="nested-fields">
  <div style="width: 90%;display: inline-block;margin-top: 4px">
    <%= field_errors f.object, :feature_option_id %>

    <%= f.grouped_collection_select :feature_option_id, ProductFeature.search(""),
                                    :options, :name,
                                    :id, :name,
                                    {:prompt => t('controls.select.none')},
                                    {class: 'form-control selectpicker', "data-live-search": "true", "data-container": ".box-info" } %>
  </div>
  <div class="remove" style="vertical-align: middle;width: 9%;display: inline-block">
    <%= link_to_remove_association f, data: {confirm: t('are_you_sure')} do %>
      <%= nested_remove_btn %>
    <% end %>
  </div>
</div>

<script>
    $(document).ready(function() {
        $('.selectpicker').selectpicker('refresh');
    })
</script>