<tr class="nested-fields">
  <td>
    <%= field_errors f.object, :feature_option_id %>

    <%= f.grouped_collection_select :feature_option_id, ProductFeature.search(""),
                                    :options, :name,
                                    :id, :name,
                                    {:prompt => t('controls.select.none')},
                                    {class: 'form-control selectpicker', "data-live-search": "true", "data-container": ".box-info" } %>

    <%#= f.number_field :feature_option_id, class: 'field', placeholder: t('activerecord.attributes.product_income_feature_rel.feature_option_id') %>
  </td>
  <td class="remove">
    <%= link_to_remove_association f, data: {confirm: t('are_you_sure')} do %>
      <%= nested_remove_btn %>
    <% end %>
  </td>
</tr>

<script>
    $(document).ready(function() {
        $('.selectpicker').selectpicker('refresh');
    })

</script>