<tr class="nested-fields">
  <td>
    <%= f.collection_select :category_filter_group_id, CategoryFilterGroup.order(:name), :id, :name,
                            {:prompt => t('controls.select.none')},
                            {class: 'form-control selectpicker', "data-live-search": "true", "data-container": ".box-info"}%>
  </td>
  <td class="remove">
    <%= link_to_remove_association f, data: {confirm: t('are_you_sure')} do %>
      <%= nested_remove_btn %>
    <% end %>
  </td>
</tr>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker('refresh');
    });
</script>