.cocoon-nested-form .links a {
  float: left !important;
}

.field_div input, .field_div textarea {
  font-size: small;
}

.field_div input[type=text], .field_div .dropdown-toggle {
  font-size: small;
  height: 30px;
}