div.search {
  padding-left: 0 !important;
  padding-right: 5px !important;
}

div.search input[type=text],
div.search input[type=number],
div.search select,
div.search a,
div.search .dropdown-toggle {
  font-size: smaller !important;
  height: 30px !important;
  padding-top: 6px;
}

#search-date {
  font-size: smaller !important;
  height: 30px !important;
  padding-top: 6px;
  padding-left: 5px !important;
}

.table-search {
  font-size: smaller;
}

div.search input[type=text],
div.search input[type=number],
div.search select, div.search a {
  font-size: smaller !important;
  height: 30px !important;
  padding-top: 6px;
}

#searchDate {
  font-size: smaller !important;
  height: 30px !important;
  padding-top: 6px;
  padding-left: 5px !important;
}