.group_div {
  background: #f5f5f5;
  padding: 8px;
}

.field_div {
  padding: 5px;
}

table {
  background: white;
  font-size: small;
}

table td {
  padding: 5px;
  font-size: smaller;
}

table th {
  padding: 7px;
}